extends layout

block content
    .w3-display-container(style="height:300px;")
        .w3-display-left.w3-card-4.w3-light-gray(style="width:30%;margin-left:6%;margin-top:7%;")
            .w3-container.w3-green.w3-padding.w3-margin-bottom
                h2 Estrutura do pacote e manifesto
            .w3-container.w3-padding
                code(style="white-space:pre;").
                    pacote.zip
                       |
                       |---- files
                       |      |---- file1.txt
                       |      |---- file2.txt
                       |
                       |---- manifest.txt
                       |       files/file1.txt
                       |       files/file2.txt 

                    

        form.w3-card-4.w3-display-right.w3-light-gray(style="width:50%;margin-right:6%;margin-top:12%;" action="/addRecurso" method="POST" enctype="multipart/form-data")
            fieldset(style="border:none;padding:0;margin:0;")
                .w3-container.w3-blue.w3-padding
                    h2 Adicionar Recurso
                .w3-container.w3-padding
                    label Título
                    input.w3-input(type="text" name="titulo" required)
                .w3-container.w3-padding
                    label Subtítulo (opcional)
                    input.w3-input(type="text" name="subtitulo")
                .w3-container.w3-padding
                    label Tipo
                    select.w3-select(name="tipo" type="text" required)
                        option(value="" disabled selected) Escolha uma opção
                        option(value="relatório") relatório
                        option(value="tese") tese
                        option(value="artigo") artigo
                        option(value="fichas") fichas
                        option(value="aplicação") aplicação
                        option(value="slides") slides
                        option(value="texte/exame") texte/exame
                        option(value="problema resolvido") problema resolvido
                        option(value="outro") outro
                .w3-container.w3-padding
                    label Temas - palavras-chave separadas por espaço (opcional)
                    input.w3-input(type="text" name="temas")
                .w3-container.w3-padding
                    label Visibilidade
                    select.w3-select(name="visibilidade" type="text" required)
                        option(value="" disabled selected) Escolha uma opção
                        option(value="público") Público
                        option(value="privado") Privado
                .w3-container.w3-padding
                    label Cursos com acesso ao material (caso seja público)
                    select.w3-select(name="curso_uni" type="text" required)
                        option(value="N/A" selected) Qualquer curso
                        each curso in cursos
                            option(value=curso['_id']) #{curso['nomeDoCurso']} (#{curso['universidade']})
                .w3-container.w3-padding
                    label Pacote
                    input.w3-input.w3-border.w3-light-grey(type="file" name="pacote" accept=".zip" required)
            input.w3-button.w3-blue(style="margin: 7px 0 7px 15px" type="submit" value="Publicar")
    a(href="/produtor")
        button.w3-button.w3-blue(style="position: absolute; left:16%; top:58%; width: 250px; height:50px; font-size:19px") Voltar
    if relatorio
        if relatorio.confirmacao
            .w3-panel.w3-green(style="bottom: 0; left: 25%; position: absolute; width: 1000px")
                h3 Confirmação
                p #{relatorio.confirmacao}
        else
            .w3-panel.w3-yellow(style="bottom: 0; left: 25%; position: absolute; width: 1000px")
                h3 Erro
                p #{relatorio.erro}
    
    