extends layout

block content
    script.
        function downloadFile(button) {

            var file_name = button.id;

            var url = "http://localhost:3000/api/files/download/" + file_name;

            window.location.href = url;
        }
    h2.w3-container.w3-blue.w3-padding Bem-vindo #{username}
    a(href="/user" style="background:white; color:blue; padding:12px; border-radius:50%; position:absolute; top:64px; right:80px; font-size:20px; width:52px; height:52px; text-align:center")
        i.fa-solid.fa-user
    if isProdutor
        a(href="/produtor")
            button.w3-button.w3-white(style="position: absolute; left:83%; top:7.1%; width: 150px; height:40px; font-size:18px") Produtor
    if isAdmin
        a(href="/admin")
            button.w3-button.w3-white(style="position: absolute; left:73%; top:7.1%; width: 150px; height:40px; font-size:18px") Administrador
    .w3-display-container(style="margin-top:6%")
        .w3-card-4.w3-display-left.w3-light-gray(style="width:75%")
                form.w3-light-gray.w3-padding(action="/consumidor" method="GET")
                    fieldset
                        .w3-container.w3-green
                            h4(style="text-align:center") Pesquisar
                        div(style="display:flex; text-align:center; padding: 20px 250px 0 50px")
                            .w3-container(style="flex:10%")
                                label <b>Produtor</b>
                                select.w3-select(name="produtor" type="text")
                                    option(value="" selected) Qualquer um
                                    each produtor in produtores
                                        option(value=produtor) #{produtor}
                            .w3-container(style="flex:10%")
                                label <b>Tema</b>
                                select.w3-select(name="tema" type="text")
                                    option(value="" selected) Qualquer um
                                    each tema in temas
                                        option(value=tema) #{tema}
                    input(style="position:absolute; top:46%; left:85%; width:70px; height:70px; border:none; z-index:999; background: none" type="submit" value="")
                    i.fa-solid.fa-magnifying-glass(style="position:absolute; top:54%; left:85%; width:70px; height:70px; font-size:40px; color: darkgreen; text-align:center; z-index: 0")
                
        .w3-display-right(style="width:24%; margin-top:-2.8%")
            h3.w3-container.w3-lime.w3-padding(style="font-size:30px; text-align:center;") Notícias
        
    div.w3-card-4.w3-orange(style="position:absolute; top:34%; width:71%")
        .w3-container.w3-orange.w3-padding
            h3 Recursos encontrados
        each recurso in recursos
            .w3-container.w3-padding.w3-margin.w3-light-gray(style="text-align:center")
                h4(style="color:#a35a00") <b>#{recurso.titulo}</b>
                if recurso.subtitulo
                    h5 <b>#{recurso.subtitulo}</b>
                p <b>Produtor:</b> #{recurso.produtor}
                if recurso.mediaRank
                    p <b>Ranking:</b> #{recurso.mediaRank.toFixed(2)}&#11088;
                else
                    p <b>[Ainda sem classificações]</b>
                p <b>Tipo:</b> #{recurso.tipo}
                if (recurso.temas.length === 0)
                    p <b>[Sem temas]</b>
                else
                    p <b>Temas:</b> #{recurso.temas}
                p <b>Visibilidade:</b> #{recurso.visibilidade} 
                p <b>Publicado em:</b> #{recurso.createdAt.substring(0,10)} às #{recurso.createdAt.substring(11,16)}h
                button.w3-button.w3-orange(style="width:200px" onclick="downloadFile(this)" id=recurso.filename) Download
                .w3-card-4.w3-padding(style="background-color:#FFD580; margin: 20px 150px")
                    h5.w3-padding <b>Comentários</b>
                    if (recurso.comentarios.length != 0)
                        .w3-card-4.w3-margin.w3-light-gray.w3-padding(style="text-align:left;padding-left:10px")
                            each comentario in recurso.comentarios
                                p <b>#{comentario.userName}</b>: #{comentario.rank}&#11088;  - #{comentario.comentario}
                    if recurso.hasComentario
                        form(action="/consumidor" method="GET")
                            input(type="text" name="apagarcomentario" value=recurso._id style="display:none")
                            input.w3-button.w3-white(style="margin: 7px 0 7px 15px" type="submit" value="Apagar Comentario")
                    else 
                        form.w3-card-4.w3-margin(style="background-color:#addfac" action="/consumidor" method="GET")
                            fieldset(style="border:none;padding:0;")
                                .w3-container
                                    h6 <b>O que acha deste recurso?</b>
                                .w3-container(style="display:flex; align-items:center; margin: 10px 390px")
                                    label(style="flex:1%") <b>Rank:</b>
                                    select.w3-input(style="width:50px" name="rank" type="number" required)
                                        option(value="5" selected) 5
                                        option(value="4") 4
                                        option(value="3") 3
                                        option(value="2") 2
                                        option(value="1") 1
                                .w3-container(style="display:flex; align-items:center; margin: 10px 100px")
                                    label <b>Comentário (opcional):</b>
                                    input.w3-input(type="text" name="comentario")
                                input(type="text" name="file_id" value=recurso._id style="display:none")
                            input.w3-button.w3-white(style="margin: 7px 0 7px 15px" type="submit" value="Comentar")

    div.w3-card-4.w3-light-blue(style="position:absolute; top:23%; width:22%; right:3%")
        each noticia in noticias
            .w3-container.w3-light-gray.w3-padding.w3-margin
                p O produtor <b>#{noticia.produtor}</b> publicou um recurso com o título <b>"#{noticia.titulo}"</b> no dia <b>#{noticia.createdAt.substring(0,10)}</b> às <b>#{noticia.createdAt.substring(11,16)}h</b>. 